@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar (vertical & horizontal) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f87171;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #fff5f5;
}
